<html>

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href='style.css'> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{{title}} - microblog</title>
</head>

<body>
    <div class="btn">
        <form style="display:inline" action="/show/" method="POST">
            <input type="hidden" name="indx" value="1">
            <input type="submit" class="btn btn-dark" value="Нажать 1">
        </form>

        <form style="display:inline" action=" /show/" method="POST">
            <input type="hidden" name="indx" value="2">
            <input type="submit" class="btn btn-dark" value="Нажать 2">
        </form>

        <form style="display:inline" action=" /show/" method="POST">
            <input type="hidden" name="indx" value="3">
            <input type="submit" class="btn btn-dark" value="Нажать 3">
        </form>

        <form style="display:inline" action="/show/" method="POST">
            <input type="hidden" name="indx" value="4">
            <input type="submit" class="btn btn-dark" value="Нажать 4">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div></div>
    <img style='float:left' src="{{ url_for('video_feed') }}" width="50%">
</body>

</html>